body {
    font-family: Arial, Helvetica, sans-serif!important;
}
#energy{
    position:  absolute;
    width: 300px;
    height: 37px;
    left: 1010px;
}
#energy_img{
    background-image: url(images/life.png);
    background-size: 100%;
    position: absolute;
    width: 300px;
    height: 37px;
}
#energy_color{
    position:  absolute;
    top: 0;
    left: 0;
    width: 270;
    height: 37px;
    background: #4477dd;
    transition: width 1s;
    transition-timing-function: linear;
}
canvas{
    position: absolute;
    left: 300px;
}
#chat_div{
    position:  absolute;
    border: dotted 2px #acacac;
    padding: 10px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #fafafa 0%,#fafafa 90.9999%,#acacac 90.99991%, #acacac 100%);
}
#chat {
    width: 250px;
    height: 500px;
    background-color: #FAFAFA;
    padding: 0;
    overflow: auto;
    font-size: 13px;
}
#input {
    width: 250px;
    background-color: #acacac;
    border: 1px solid #acacac;
    padding: 0;   
    text-align: center;
}

#message {
    border: 2px solid #55aaee;
    width: 180px;
    height: 38px;
    margin: auto;
    padding: 2px;
    font-size: 14px;
    box-sizing: border-box;
}

#submit {
    width: 60px;
    height: 38px;
    border-radius: 0;
    background-color: #43A047;
    color: white;
    font-size: 14px;
    border: none;
}
#chat_p {
    font-weight: bold;
    font-size: 1.5em;
    color: #34495e;
}
#info_div{
    position:  absolute;
    border: dotted 2px #acacac;
    top: 250px;
    right: 25px;
    padding: 10px;
    border-radius: 5px;
    background: #fafafa;
}
#info {
    width: 300px;
    height: 300px;
    padding: 0;
    overflow: auto;
    font-size: 13px;
}